body{
    background: rgb(255,146,251);
    background: linear-gradient(90deg, rgba(255,146,251,1) 5%, rgba(242,99,225,1) 33%, rgba(244,137,220,1) 64%, rgba(222,143,204,1) 83%);
}
.opciones{
    display: grid;
    grid-template-columns: 1fr 16fr 8fr 24fr 8fr 1fr;
    grid-column-gap: 1em;
    list-style: none;
    font-size: 20px;
    margin-top: 10px;
}

.opciones li{
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.opciones a{
    color: black;
    font-family: serif;
    text-decoration: none;
}

.btn-menu{
    transform: translateX(-78%);
}

#btn-menu{
    display: none;
}

.container-menu{
    position:absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
   opacity: 1;
   visibility: visible;
}
 
.cont-menu{
    width: 100%;
    max-width: 275px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 0.5s;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
 }
 
.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 0.5s;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
 
.cont-menu nav div span{
    font-size: 80px;
}

.cont-menu nav div{
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    transform: translateY(-40px);
    color: white;
    
}
.cont-menu nav div center{
    transform: translateX(-10px);
}
.cont-menu label{
    position: absolute;
    right: 1px;
    margin-right: 15px;
    bottom: 625px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
.icon-menu{
    cursor: pointer;
}
 
.redes-sociales{
    display: grid;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nombre{
    transform: translateX(-15%);
    font-size: 34px;
}

.nombre img{
    position: absolute;
    margin-left: 10px;
    transform: translateY(-10%);
}

.ubicacion{
    display: block;
    background-color: rgb(238, 237, 237);
}

.ubicacion:hover{
    background-color: rgb(228, 222, 222);
}

.buscador{
    border: 3px solid #000000;
    margin: auto;
}

.buscador span{
    display: grid;
    position: absolute;
    align-items: center;
    margin-top: 5px;
    margin-left: 410px;
    font-size: 50px;

}
.buscador input{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    border: none;
    margin-left: 20px;
    padding: 10px;
    width: 450px;

}
.carrito{
    background-color: black;
}

.carrito span, .carrito a{
    display: grid;
    justify-content: center;
    color: white;
}

.carrito:hover{
    background-color: white;
}

.carrito:hover span, .carrito:hover a{
    color:black;
}

.carrito:hover{
    border: black solid 1px;
}

.ubicacion, .carrito, .buscador{
    border-radius: 20px;
}


.ruedita{
    display: grid;
    align-self: center;
    margin-right: 30px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    transform: translateY(-20%);
    background-color: rgb(234, 243, 181);
}

.ruedita span{
    display: grid;
    font-size: 35px;
}

.ruedita span:hover{
    color:gray;
}

.ruedita p{
    background-color: rgb(241, 232, 232);
    font-size: 15px;
    font-weight: 600;
    border-radius: 15px;
    padding: 8px;
    position: absolute;
    top: 50px;
    transform: translateX(-25%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.ruedita a:hover p{
    top:35px;
    visibility: visible;
    opacity: 1;
}
.main{
    background-color: white;
    margin-top: 10px;
    border-bottom: rgb(190, 186, 186)  solid;
}

/* De aqui para abajo solo va ir en Inicio */



.categorias{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}

.categorias > div {

    border-radius: 50px;
    padding: 15px;
}

.categorias > div span{
    display:grid;
    position: absolute;
    top: 35%;
    border-radius: 15%;
    padding: 1em;
    background-color: rgb(245, 225, 241);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    
}
 
/* Los "cat" son para mover lo nombres de las categorias y asi queden derechos debajo de cada imagen*/

.cat1{
    transform: translateX(-32%) translateY(-150%);
}
.cat2{
    transform: translateX(-29%) translateY(-150%);
}
.cat3{
    transform: translateX(-26%) translateY(-150%);
}
.cat4{
    transform: translateX(-20%) translateY(-150%);
}
.cat5{
    transform: translateX(-20%) translateY(-150%);
}
.cat6{
    transform: translateX(-18%) translateY(-150%);
}

.categorias > div:hover{
    background-color: rgb(131, 247, 189);
    box-shadow: inset 4px -4px 29px -2px #ABABAB,-11px 5px 14px -100px #DDDDDD;
    -webkit-box-shadow: inset 4px -4px 29px -2px #ABABAB,-11px 5px 14px -100px #DDDDDD;
    -moz-box-shadow: inset 4px -4px 29px -2px #ABABAB,-11px 5px 14px -100px #DDDDDD;
    -o-box-shadow: inset 4px -4px 29px -2px #ABABAB,-11px 5px 14px -100px #DDDDDD;
}
.categorias > div:hover span{
    top:30%;
    opacity: 1;
    visibility: visible;
}
.main2{
    margin-top: 25px;
}

.contenido{
    display: grid;
    margin-top: 100px;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.contenido1{ grid-area: 1 / 1 / 2 / 2; }
.contenido2{ grid-area: 2 / 1 / 3 / 2; }
.contenido3{ grid-area: 1 / 2 / 3 / 3; }

.contenido > div{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border: black 1px solid;
}

.contenido > div h2{
    margin:0;
}

.contenido1{
    font-size: 20px;
    height:450px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 109px 10px 109px 10px;
    -webkit-border-radius: 109px 10px 109px 10px;
    -moz-border-radius: 109px 10px 109px 10px;
}
.contenido2{
    height: 175px;
    font-size: 18px;
    transform: translateY(-175%);
    border-radius: 0px 109px 0px 109px;
    -webkit-border-radius: 0px 109px 0px 109px;
    -moz-border-radius: 0px 109px 0px 109px;
}

.contenido1, .contenido2{
    padding: 2em;
}

.slider{
    padding: 1em;
    font-size: 18px;
}

.slider{
    display: grid;
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    width: 500%;
    padding: 0;

    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider li{
    width: 500%;
    list-style: none;
}

.slider img{
    width: 80%;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -125%;}
    45%{margin-left: -125%;}

    50%{margin-left: -250%;}
    70%{margin-left: -250%;}

    75%{margin-left: -375%;}
    100%{margin-left: -375%;}
}
 
.pie{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    padding: -10px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.pie > div{
    padding: 1em;
    border: black 1px solid;
}

.ayuda{
    display: grid;
    grid-column: 2/4;
}

.acerca{
    display: grid;
    grid-column: 4/6;
}

.empresa{
    display: grid;
    grid-column: 4/6;
}